[Unit]
Description=DaIngest Daemon

[Service]
Type=simple
ExecStart=/usr/bin/daingestd
Restart=always
Environment=DAINGEST_INPUT=%h/Videos/daingestd
Environment=DAINGEST_OUTPUT=%h/Videos/daingestd/output

[Install]
WantedBy=default.target
